# Ignored executable files
software/*.exe
software/*.log
software/*.dll
software/modules/*.sgp
software/packages/*.lpak
software/tools/*.exe
software/ork/*.exe

# ignore the packaged app folder content:
apps/*

tools/*.log

# Ignore compiled documentation:
docs/manual.chm

# Ignore temp folder
temp
