# Ignored executable files
software/*.exe
software/*.log
software/*.html
software/*.dll
software/modules/*.sgp
software/packages/*.lpak
software/tools/*.exe
software/python27/*
software/proland_samples/atmo/*.raw
software/proland_samples/terrain/preprocess/data/*
software/proland_samples/terrain/preprocess/temp/*
software/proland_samples/terrain/exercise1/*.raw
software/proland_samples/ocean/ocean1/*.raw
software/proland_samples/ocean/ocean2/*.raw

# ignore the packaged app folder content:
apps/*

tools/*.log

# Ignore compiled documentation:
docs/manual.chm
docs/NaturalDocs/Data/*

# Ignore temp folder
temp
